* {
  box-sizing: border-box;
}

.containerImage {
  text-align: center;
}

.imageHeader {
  min-width: 300px;
  margin-bottom: 2rem;
}

h1 {
  color: blue;
  margin-bottom: 1rem;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .imageHeader {
    width: 100%;
    max-width: 300px;
  }
}
